body.page-id-10, body.page-id-821 {

	.post-thumb img {
		max-width: 100%;
		max-height: 100%;

		width: auto;
		height: auto;
	}

	.yacht-title {
		text-transform: uppercase;

		a {
			color: $darkgrey;
		}
	}

	.yacht-content {
		font-size: 14px;
		color: $grey;
	}

	.yacht-link {
		font-size: 12px;
		color: $black;
	}

	.yachts-container {
		.the_yacht:nth-child(2n+1) {
			clear:both;
		}
	}
}