// colors
$white:			#ffffff;
$black:			#000000;
$gray:			#777777;
$green: 		#3a9470;

$dark: 			#1b1b1b;
$dark-gray:     #444444;
$dark-green:    #2b6248;

$content-bg:	#f5f5f5;
$light:			#f2f2f2;
$light-gray:	#cccccc;

$gray-base:     #000000 !default;
$green-base:	#a3a64d !default;
