footer {
	background: $dark;
	color: $white;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 50px 0;
	text-align: center;

	.footer-nav {
		margin: 20px auto;
		text-align: center;

		li {
			display: inline;

			a {
				display: inline;
				color: $white;

				&:hover {
					color: $black;
				}
			}
		}
	}

	.disclaimer {
		font-size: 8px;
		font-weight: lighter;
		color: #696969;
	}
}
