body.archive {

	.news-item {

		color: #585858;
		max-width: 350px;

		a {
			&:hover {
				text-decoration: none!important;
			}
		}

		p {
			color: #a3a3a3;
			@media (min-width: 0) {
				font-size: 1.3rem ;
				height: 60px;
			}
			@media (min-width : $screen-sm) {
				font-size: 1.5rem ;
				height: 110px;
			}
			@media (min-width : $screen-md) {
				font-size: 1.3rem ;
				height: 130px;
			}
			@media (min-width : $screen-lg) {
				font-size: 1.3rem ;
				height: 110px;
			}
		}

		.img-container {
			width: 100% ;
			overflow: hidden ;
			max-height: 172px ;
			img {
				width: 100%!important;
				height: auto!important;
			}
		}

		.title {
			width: 70% ;
			text-transform: uppercase;
			h3{
				color: $blue;
				margin: 10px auto 0px 0 ;
				font-weight: bold;
				@media (min-width: 0) {
					font-size: 1.6rem ;
					margin-bottom: 10px;
				}
				@media (min-width: $screen-sm) {
					font-size: 1.8rem;
				}
				@media (min-width: $screen-md) {
					font-size: 1.6rem;
				}
				@media (min-width: $screen-lg) {
					font-size: 1.6rem;
				}
			}

		}

		.date {
			@media (min-width: 0) {
				font-size: 1.7rem;
				width: 30%;
			}
			@media (min-width: $screen-sm) {
				font-size: 1.8rem;
				width: 30%;
			}
			@media (min-width: $screen-md) {
				font-size: 1.8rem;
				width: 30%;
			}
			@media (min-width: $screen-lg) {
				font-size: 1.7rem;
				width: 30%;
			}
			margin-top: 10px;

			.date-text {
				color: #676767;
				text-transform: uppercase;
				font-style: italic;
				display: inline;
				text-align: center;
			}
		}
	}
}