
body.page-id-14 {

	.gform_footer input.gform_button.button {
		color: #666;
		background: none;
		border: none;
		padding: 0 0 2px 25px;
		cursor: pointer;
		position: relative;
		height: 33px;
		line-height: 33px;
		left: 6px;
		margin-right: -25px;
		padding-right: 25px;
		overflow: visible;
		background: #eeeeee;
		border: 1px solid #aba33b;
		border-radius: 5px;
		box-shadow: 0px 3px 1px rgba(0,0,0,0.20);

	}
}