#colorbox, #cboxOverlay, #cboxWrapper {
    z-index: 990 !important;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
}

#ajax-modal {
    z-index: 2100;
}

.ui-datepicker.ui-widget {
    z-index: 3000!important;
}

.ajax-content-host {
    padding: 0 50px;
}
