/*
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700|Open+Sans+Condensed:300,300italic,700|Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
*/

@import 'variables';
@import 'base';
@import 'tables';
@import 'forms';
@import 'home';
@import 'typeaheads';
@import 'modal';
@import 'search';
@import 'images';
@import 'promoters';
@import 'promoters_registration';
@import 'promoters_tickets';

.pad { padding: 25px; }

.top-gap {
	margin-top: 2rem;
}

.top-gap-sm {
	margin-top: 1rem;
}

.top-gap-xs {
	margin-top: 0.5rem;
}

.no-wrap {
	white-space: nowrap;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {

	.sm-pad {
		padding: 0 0.5rem !important;
	}

}

@media screen and (min-width: 768px) and (max-width: 880px) {

	.navbar-nav {
		font-size: 10px;
	}

	#logo-container {
		margin-right: 20px;
	}
}

@media screen and (min-width: 880px) and (max-width: 990px) {

	.navbar-nav {
		font-size: 10px;
	}

	#logo-container {
		margin-right: 20px;
	}
}
